<md-card>Home</md-card>

<md-card>
  <article>
  <h3>Angular 2 user interface with MuleSoft ESB</h3>
  <p>One of the most compelling new JavaScript frameworks on the market is Angular 2.  
    Now by using an observable pattern to notify components of model changes, the Angular 2 
    component hierarchy can be built without concern for data flow or event management.
  </p>
  Combining this clever new UI framework with a fully featured ESB like MuleSoft make enterprise integrations a breeze. 
  <p>
  </p>
</article>
</md-card>
