*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:after,
*:before{
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  flex-direction: column;            
  height: 100vh;
  overflow: hidden;
}
.header{
  flex: 0 0 auto;  
}
.content{
  flex: 1 1 auto;     
  overflow-y: auto;     
}
.footer{
  flex: 0 0 auto;  
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

#menu_container_0 {
  background-color:white;
  position: absolute;
  margin-top:140px;
}
